@font-face {
    font-family: "Quicksand";
    src: url("../fonts/Quicksand-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "Rajdhani";
    src: url("../fonts/Rajdhani-Light.ttf") format('truetype');
}

@font-face {
    font-family: "Alegreya";
    src: url("../fonts/Alegreya-VariableFont_wght.ttf") format('truetype');
}

@font-face {
    font-family: "Open Sans Condensed";
    src: url("../fonts/open_sans_condensed/OpenSansCondensed-light.ttf");
}

@font-face {
    font-family: "Frank Ruhl Libre";
    src: url("../fonts/Frank_Ruhl_Libre/FrankRuhlLibre-Light.ttf");
}

body {
    font-family: 'Quicksand', sans-serif;
    background-color: #f3f3f3;
}


/* 
parte da edicao da notificacao
*/

[class*="noty_theme__unify--v1"] {
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 1.57143rem;
}

.noty_theme__unify--v1--dark {
  background-color: #2e3c56;
}


.noty_theme__unify--v1--light {
  background-color: #fff;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.05);
}

.noty_type__success.noty_theme__unify--v1 {
  background-color: #0f8300;
}

.noty_type__info.noty_theme__unify--v1 {
  background-color: #1d75e5;
}

.noty_type__error.noty_theme__unify--v1 {
  background-color: #e6003d;
  
}

.noty_type__warning.noty_theme__unify--v1 {
  background-color: #ffca58;
}

.noty_body {
  font-weight: 600;
  font-size: 1rem;
  color: rgb(10, 10, 10);
  font-size: 20px;
  font-family: 'Rajdhani', sans-serif;
}

.text-notification-error {
    color: #fff;
}

[class*="noty_theme__unify--v1"] .noty_body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.noty_theme__unify--v1--light .noty_body {
  color: #41464B;
}

.noty_body__icon {
  position: relative;
  display: inline-block;
  color: #fff;
  text-align: center;
  border-radius: 50%;
}

.noty_body__icon::before {
  display: block;
}

.noty_body__icon > i {
  position: relative;
  top: 50%;
  display: block;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 2;
}

.noty_theme__unify--v1 .noty_body__icon {
  background-color: rgba(245, 249, 249, 0.2);
}

.noty_theme__unify--v1--dark .noty_body__icon {
  background-color: rgba(245, 249, 249, 0.1);
}

.noty_theme__unify--v1--dark.noty_type__success .noty_body__icon {
  color: #5be41c;
}

.noty_theme__unify--v1--dark.noty_type__info .noty_body__icon {
  color: #1d75e5;
}

.noty_theme__unify--v1--dark.noty_type__error .noty_body__icon {
  color: #e62154;
}

.noty_theme__unify--v1--dark.noty_type__warning .noty_body__icon {
  color: #e6a821;
}

.noty_theme__unify--v1--light.noty_type__success .noty_body__icon {
  background-color: rgba(28, 201, 228, 0.15);
  color: #1cc9e4;
}

.noty_theme__unify--v1--light.noty_type__info .noty_body__icon {
  background-color: rgba(29, 117, 229, 0.15);
  color: #1d75e5;
}

.noty_theme__unify--v1--light.noty_type__error .noty_body__icon {
  background-color: rgba(230, 33, 84, 0.15);
  color: #e62154;
}

.noty_theme__unify--v1--light.noty_type__warning .noty_body__icon {
  background-color: rgba(230, 168, 33, 0.15);
  color: #e6a821;
}

[class*="noty_theme__unify--v1"] .noty_close_button {
  position: absolute;
  top: 10px;
  right: 26px;
  width: 0.85714rem;
  height: 0.85714rem;
  line-height: 0.85714rem;
  background-color: transparent;
  font-weight: 300;
  font-size: 20px;
  color: rgb(255, 13, 13);
  border-radius: 0;
  float: right;
  font-weight: bolder;
  cursor: pointer;
}

.noty_close_button {
    margin-bottom: 30px;
}

.noty_theme__unify--v1--light .noty_close_button {
  color: #cad6d6;
}

.noty_progressbar {
  height: 0.5rem !important;
}

.noty_theme__unify--v1 .noty_progressbar {
  background-color: rgba(0, 0, 0, 0.08) !important;
}

.noty_theme__unify--v1--dark.noty_type__success .noty_progressbar {
  background-color: #1cf509;
}

.noty_theme__unify--v1--dark.noty_type__info .noty_progressbar {
  background-color: #1d75e5;
}

.noty_theme__unify--v1--dark.noty_type__error .noty_progressbar {
  background-color: #e62154;
}

.noty_theme__unify--v1--dark.noty_type__warning .noty_progressbar {
  background-color: #e6a821;
}

.noty_theme__unify--v1--light.noty_type__success .noty_progressbar {
  background-color: rgba(28, 201, 228, 0.15);
}

.noty_theme__unify--v1--light.noty_type__info .noty_progressbar {
  background-color: rgba(29, 117, 229, 0.15);
}

.noty_theme__unify--v1--light.noty_type__error .noty_progressbar {
  background-color: rgba(230, 33, 84, 0.15);
}

.noty_theme__unify--v1--light.noty_type__warning .noty_progressbar {
  background-color: rgba(230, 168, 33, 0.15);
}

  .g-mb-25 {
    margin-bottom: 1.78571rem !important;
  }


/* fim notificacao*/
  
.main-index-presentation h2 {
    font-family: 'Rajdhani', sans-serif;
    font-size: 40px;
}

.main-index-presentation img {
    margin: 0 auto;
    width: 80%;
}

.index-p  {
    font-size: 19px;
}

#info_donation_img {
    margin: 0 auto;
    width: 40%;
}

.main-index-presentation h3 {
    font-family: 'Alegreya', serif;
    font-size: 22px;
    margin-bottom: 20px;
}

.main-index-presentation h4 {
    font-family: 'Alegreya', serif;
    font-size: 22px;
}


#graph_image {
    width: 100%;
}

.painel-graph {
    border: none;
    margin-top: 20px;
    margin-left: -30px;
    margin-right: -30px;
}

#wrapper {
    width: 100%;
    margin-top: 50px;
    background-color: #ffffff;
}

#page-wrapper {
    padding: 15px 15px;
    min-height: 600px;
    background: #fdfdfd;
}

#page-inner {
    width: 100%;
    margin: 10px 1px 10px 1px;
    background-color: #fff!important;
    padding: 30px;
    min-height: 1200px;
    box-shadow: 0 10px 16px rgba(0, 0, 0, 0.25), 0 6px 6px rgba(0, 0, 0, 0.22);
}

.table_ativos {
    font-size: 16px;
}

.table .thead-dark th {
    color: #fff;
    background-color: #a666f9;
    border-color: #a666f9;
}

.table_ativos th, td, .table-index-doadores th, td, .table-index-requisicoes-doacoes th, td {
    text-align: center;
    word-break: break-word;
    /*or you can use word-break:break-all*/
    min-width: 90px;
    transition: 1.2s;
    /*set min-width as needed*/
}

.table-index-requisicoes-doacoes td, .table-index-doadores td {
    font-weight: bold;
}

.table_ativos td, .table-index-doadores th, .table-index-requisicoes-doacoes th {
    cursor: pointer;
}

.table-ativos-requisicoes-doacao, .table-ativos-doacoes-solicitadas, .table-ativos-doacoes-atendidas, .table-index-doadores, .table-index-requisicoes-doacoes  {
    table-layout: fixed;
}

.title-index {
    margin-top: 20px;
}

.info-p {
    font-size: 17px;
}

.title-info {
    margin-top: 20px;
    font-weight: bold;
}

.title_session {
    width: 35px;
    margin-right: -5px;
    margin-top: -11px;
}

#genderMaleIconCadastrar {
    width: 16px;
}

#genderFemaleIconCadastrar {
    width: 14px;
}

#optionsradio_label1, #optionsradio_label2 {
    font-size: 15px;
}

#form-style, #form-style2 {
    padding: 40px 60px;
}

#form-style div, #form-style2 div {
    margin-bottom: 25px;
}

#form-style input {
    padding: 24px;
    font-size: 17px;
    border: none;
    border-bottom: 2px solid rgb(199, 199, 199);
    transition: 0.5s;
}


#form-style2 input {
    padding: 24px;
    font-size: 17px;
    border: none;
    transition: 0.5s;
}

.form-style-select textarea {
    resize: vertical;
    padding: 24px;
    font-size: 17px;
    border: none;
    border-bottom: 2px solid rgb(199, 199, 199);
    transition: 0.5s;
}

.form-style-select2 textarea {
    resize: vertical;
    padding: 24px;
    font-size: 17px;
    border: none;
}

.visualizar-dados-requisicao-de-doacao input:read-only {
    background-color: rgb(255, 255, 255);
    cursor: default;
}

.visualizar-dados-requisicao-de-doacao textarea:read-only {
    background-color: rgb(255, 255, 255);
    cursor: default;
}

.visualizar-dados-requisicao-de-doacao select:read-only {
    background-color: rgb(255, 255, 255);
    cursor: default;
}

.visualizar-dados-requisicao-de-doacao input:read-only:hover {
    background-color: rgb(255, 255, 255);
}

.visualizar-dados-requisicao-de-doacao select:read-only:hover {
    background-color: rgb(255, 255, 255);
}

.visualizar-dados-requisicao-de-doacao textarea:read-only:hover {
    background-color: rgb(255, 255, 255);
}

.select_options {
    height: 72px;
}

.div_medico_select {
    margin-top: 5px;
}

.radiosCadastro {
    margin-top: -30px;
}

.radiosCadastroMed, .receitaatualizacao {
    margin-top: -45px;
}

.receitaatualizacao {
    margin-top: -10px;
}

#form-style label, #form-style2 {
    font-size: 16px;
}

#form-style input:hover, .form-style-select textarea:hover {
    border-bottom-color: #000;
}

.painel-css-1 {
    margin-top: 35px;
}

.painel_agenda_medica, .painel_agendamento, .painel_leito {
    margin-top: 25px;
}

.painel_agendamento_atualizar {
    margin-top: 5px;
} 

.painel_agenda_medica_atualizar {
    margin-top: 5px;
}

.upALittle {
    margin-top: -20px;
}

.btn-add2, .btn-style {
    width: 88%;
    transition: 0.6s;
    font-size: 18px;
    margin-top: 50px;
    margin-left: 35px;
    margin-right: 35px;
    padding: 12px;
    border-color: #fff;
    font-weight: bold;
}

.btn-inserir-endereco, #btn-requisitar-doacao, #btn-atualizar-requisicao-de-doacao {
    margin-top: 10px;
}

hr {
    display: block; height: 1px;
    border: 0; border-top: 3px solid rgb(255, 188, 44);
    margin: 1em 0; padding: 0;
}

.btn-proceder-aprovar-rejeitar {
    margin-top: 5px;
}

.btn-remover {
    margin-top: 15px;
}

.btn-atualizar_settings_users {
    margin-top: 15px;
}

.btn-add1 {
    width: 100%;
    transition: 0.6s;
    font-size: 18px;
    border-color: #fff;
    font-weight: bold;
    padding: 12px;
}

.hide_label {
    visibility: hidden;
}


.img-design-ativos {
    width: 100px;
    margin-bottom: -30px;
}

.title_ativos {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 25px;
}

.select-style {
    font-size: 16px;
    height: 50px;
    border: none;
    border-bottom: 2px solid rgb(199, 199, 199);
    transition: 0.5s;
}

.select-style2 {
    font-size: 16px;
    height: 50px;
    border: none;
    transition: 0.5s;
}

.select-style:hover {
    border-bottom-color: #000;
}

.button-style-onTable, .button-style-onTable2 {
    margin: 10px auto;
    padding: 4px 15px;
    border-radius: 500px;
    transition: 0.6s;
    font-size: 18px;
    font-weight: bold;
}

.button-style-onTable:hover {
    font-size: 20px;
}

footer {
    margin-top: 40px;
    margin-bottom: 40px;
}

footer p {
    font-size: 18px;
}

#setting_icon, #info_icon {
    width: 25px;
    padding-top: 1px;
    padding-bottom: 1px;
}

#logout_icon {
    padding-top: 1px;
    padding-bottom: 1px;
    width: 25px;
}

#nav_top_style {
    transition: 0.6s;
}

#nav_top_style:hover {
    background-color: #a666f9;
}

#userNome {
    color: white;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 17px;
    word-break: break-word;
    font-weight: bold;
}

.text-center {
    text-align: center;
}

.user-image-back {
    background-color: #a666f9;
}

.userImg {
    width: 180px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
}

.iconMenu {
    width: 25px;
    margin-top: -4px;
    margin-left: -2px;
    margin-right: 2px;
}

h5, .h5 {
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.navbar-inverse .navbar-nav>li>a {
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
    color: #06F;
}

.arrow {
    float: right;
}

.fa.arrow:before {
    content: "\f104";
}

.active>a>.fa.arrow:before {
    content: "\f107";
}

.nav-second-level li, .nav-third-level li {
    border-bottom: none !important;
}

.nav-second-level li a {
    padding-left: 37px;
}

.nav-third-level li a {
    padding-left: 55px;
}

.sidebar-collapse, .sidebar-collapse .nav {
    background: none;
}

.sidebar-collapse .nav {
    padding: 0;
}

.sidebar-collapse .nav>li>a {
    background: #ffffff;
    text-shadow: none;
    color: #000;
    font-weight: bold;
    font-size: 16px;
    transition: 0.7s;
}

.sidebar-collapse>.nav>li>a {
    padding: 18px 15px;
}

.sidebar-collapse>.nav>li {
    border-bottom: 1px solid #ffffff !important;
}

.sidebar-collapse .nav>li>a:hover, .sidebar-collapse .nav>li>a:focus {
    background: #a666f9;
    color: #FFF;
    outline: 0;
}

.nav-second-level>li:last-child>a:after, .nav-third-level>li:last-child>a:after {
    height: 50%;
}

.nav-third-level>li>a:after, .nav-third-level>li>a:before {
    left: 40px;
}

.navbar-side {
    border: none;
    background-color: #a666f9;
}

.navbar-inverse {
    font-family: "Rajdhani", sans-serif;
    background-color: #ffffff;
    border-color: #f7f7f7;
}

.navbar-default {
    border: 0px solid #DDDDDD;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #f3f3f3;
}

.navbar-default .navbar-toggle {
    border-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: rgb(75, 72, 72);
}

.nav>li>a>i {
    margin-right: 10px;
}

#iconHopNav {
    margin-top: -6px;
    margin-bottom: 4px;
    margin-left: -8px;
    margin-right: -7px;
    width: 39px;
}

.navbar-inverse .navbar-brand {
    color: #000000;
    font-size: 30px;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    color: #000000;
    font-size: 30px;
}

.navbar-brand {
    margin-top: -2px;
}

.navbar-inverse .navbar-toggle {
    border-color: #000000;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #0e0e0e;
}

.adjust-nav {
    padding-left: 20px;
    padding-right: 20px;
}

.navbar-toggle {
    transition: 0.5s;
    background-color: #474747;
}

/*==========================================
   GALLERY/ PORTFOLIO FILTER STYLES
    =====================================================*/

.portfolio-item {
    box-shadow: 1px 5px 5px 5px rgba(153, 153, 153, 0.267);
    margin: 7px;
}

.portfolio-item p {
    padding: 12px;
    color: #fff;
    line-height: 25px;
}

.portfolio-item .overlay {
    background-color: rgb(106, 116, 255);
    text-align: center;
    padding-bottom: 30px;
}

/*==========================================
   GALLERY/ PORTFOLIO FILTER STYLES
    =====================================================*/

ul#filters {
    padding: 0px;
}

#filters {
    margin: 3% 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

#filters li {
    display: -webkit-inline-box;
}

#filters li span {
    display: block;
    padding: 5px 4px;
    text-decoration: none;
    color: #d51111;
    cursor: pointer;
    font-size: 18px;
}

/*==========================================
   GALLERY/ TREINO FILTER STYLES
    =====================================================*/

.treino-item {
    box-shadow: 1px 5px 5px 5px rgba(153, 153, 153, 0.267);
    margin: 7px;
}

/*==============================================
    DASHBOARD STYLES     
    =============================================*/

.bg-color-blue {
    background-color: #9A86EB;
    color: #fff;
}

.no-boder {
    border: 1px solid #f3f3f3;
}

.back-footer-blue {
    background-color: #7479E6;
    border-top: 0px solid #fff;
}

.nav-tabs>li>a {
    -webkit-border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
}

.show-info-panel {
    margin-top: -60px;
}

.panel-group .panel {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}

.panel {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}

.panel-heading {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    font-size: 20px;
}

.information_settings {
    margin: auto;
}

.btn-remover:hover {
    background-color: #b41b16;
}

.btn {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}

.progress {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}

.tabelaAcionada {
    background-color: #ffc085;
}

.btn-acessar-mensagem {
    margin-top: 5px;
    margin-bottom: 5px;
}

.title-chat-solicitante {
    margin-bottom: 15px;
}


/*==============================================
    MEDIA QUERIES     
    =============================================*/

@media(min-width:768px) {
    #page-wrapper {
        margin: 0 0 0 260px;
        padding: 15px 30px;
        min-height: 1200px;
    }
    .navbar-side {
        z-index: 1;
        position: absolute;
        width: 260px;
    }
    .navbar {
        border-radius: 0px;
    }
}